@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin:0;
    background-color:pink;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.bar {
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    font-size: 30px;
}
